<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>WebRTC Conference Room</title>
    <script src="/js/webRtcPeer.js"></script>
    <script src="/js/conferenceroom.js"></script>
    <script src="/js/participant.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
<div id="container">
    <div id="wrapper">
        <div id="join" class="animate join">
            <h1>Join a Room</h1>
            <form onsubmit="register(); return false;" accept-charset="UTF-8">
                <input type="text" name="name" id="name" placeholder="Username" required>
                <input type="text" name="room" id="roomName" placeholder="Room" required>
                <input type="submit" name="commit" value="Join!">
            </form>
        </div>
        <div id="room" style="display: none;">
            <h2 id="room-header"></h2>
            <div id="participants"></div>
            <button id="button-leave" onclick="leaveRoom();">Leave room</button>
        </div>
    </div>
</div>

</body>
</html>